extends ../../layout/layout.pug

block variable
    -var path = '../../';
    //- -var page = 'bg';

block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep

                span.kb_title Контакты
    // end breadcrumbs

