header.header
    .header__content
        .header__logo
            a.logo(href="/")
                img(src="/img/logo.png", alt="alt")

        .header__toggle

        .header__nav
            nav.navbar#navbar
                ul.menu
                    li.menu-item.current-menu-item
                        a(href="#") Новости
                    li.menu-item
                        a(href="#") Объявления
                    li.menu-item
                        a(href="#") F.A.Q.
                    li.menu-item
                        a(href="#") Контакты
                    li.menu-item.menu-item-has-children
                        a(href="#") Важное
                        ul.sub-menu
                            each item in [1, 2, 3, 4]
                                li.menu-item
                                    a(href="#") Важный пункт меню
