// Begin Modal modalVideo
.modal.fade.modalVideo#modalVideo
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body 
                .modalVideo__wraper
// End modal modalVideo

// Begin Modal info
.modal.fade.info#info
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .form__message
// End modal info
